famille_d'accueil.dtd

<!ELEMENT famille_d_accueil (famille)>
        <!ATTLIST famille_d_accueil id ID #REQUIRED>
        <!ELEMENT famille (nom, adresse, telephone, email, nb_enfants, nb_adultes, nb_chambres)>
        <!ELEMENT nom (#PCDATA)>
        <!ELEMENT adresse (#PCDATA)>
        <!ELEMENT telephone (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT nb_enfants (#PCDATA)>
        <!ELEMENT nb_adultes (#PCDATA)>
        <!ELEMENT nb_chambres (#PCDATA)>
